<!doctype html>
<html lang="en" class="dark bg-gray-900 text-white"  data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vault</title>
  <link href="./src/bootstrap.css" rel="stylesheet">
  <style>
  .no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .bottomRightCorner {
    position: fixed;
    display: none;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }
  </style>

</head>

<body class='bg-dark text-white'>
  <div class='container-fluid' id="top">
    <div class='row'>